*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.blue{
    fill: rgba(29,161, 242, 1);
}

.hidden{
    display: none;
}

button{
    width: 100%;
    padding: 1rem 0px;
    margin: auto;
    border: none;
    border-radius: 3rem;
    background: rgba(29,161, 242, 1);
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100vh;
}

div#left{
    grid-column: 1;
    background-color: rgba(29,161, 242, .5);
    color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem;
    padding: 35% 25% 50% 25%;
}

div#left > svg.blue{
    position: absolute;
    width: 75%;
    top: -11rem;
    left: -4rem;
    overflow: hidden;
}

div.brandPromise{
    display: flex;
    align-items: center;
    z-index: 1;
}

div.brandPromise > svg{
    fill: white;
    width: 2rem;
}

div.brandPromise > h3{
    margin-left: 1rem;
}

div#right{
    grid-column: 2;
    background-color: white;
    color: black;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 15% 25% 40% 25%;
}

div#right > svg.blue{
    width: 3rem;
    align-self: flex-end;
}

div#right > h1{
    align-self: center;
}

div#right > h3{
    align-self: flex-end;
}

div#right > button:first-of-type:hover{
    background: rgb(23, 129, 194);
}

div#right > button:last-of-type{
    border: 1px solid rgba(29,161, 242, 1);
    background: white;
    color: rgba(29,161, 242, 1);
}

div#right > button:last-of-type:hover{
    background: rgba(29,161, 242, .1);
}

footer{
    background-color: white;
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    font-size: .9rem;
    color: rgba(0, 0, 0, .7);
}

/*########################################*/

div.sign-inBox {
    display: none;
    position: fixed;
    z-index: 3;
    padding-bottom: 7rem;
    left: 0;
    top: 0em;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

div.sign-inContent {
    background-color: white;
    margin: auto;
    padding: 1rem 3rem;
    border-radius: 1rem;
    width: 38%;
    display: grid;
    grid-template-rows: .25fr .25fr 2.5fr;
    gap: 1rem;
}

div.sign-inContent > svg,
div.log-inContent > svg{
   width: 2rem;
   grid-row: 1;
   align-self: center;
   justify-self: center;
}

div.sign-inContent > form,
div.log-inContent > form{
    margin: 1rem 0 0 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

div.sign-inContent > form > label,
div.log-inContent > form > label{
    background-color: rgba(199, 199, 199, 0.2);
    color: rgba(0, 0, 0, 0.7);
    padding: .5rem .5rem 0 .5rem ;
    margin: auto;
    width: 100%;
    overflow: hidden;
}

div.sign-inContent > form > input,
div.log-inContent > form > input {
    background-color: rgba(199, 199, 199, 0.2);
    width: 100%;
    border: 0px solid;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    color: black;
    font-size: 1.2rem;
    padding: .5rem;
    margin-bottom: 2rem;
}

div.sign-inContent > form > input:focus,
div.log-inContent > form > input:focus {
    outline: none;
    color: black;
    border-bottom: 2px solid rgba(29,161, 242, 1);
}

div.sign-inContent > form > p,
div.log-inContent > form > p {
    color: darkred;
}

div.sign-inContent > form > button{
    width: 40%;
    height: auto;
    padding: 1rem 0px;
    margin: 1rem auto;
    background-color: rgba(29,161, 242, .5);
    justify-self: center;
    align-self: center;

}

/*########################################*/

div.log-inContent{
    background-color: white;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: .25fr .25fr 2.5fr .25fr;
    gap: 1rem;
    justify-content: center;
    width: 30vw;
}

div.log-inContent > h2{
    justify-self: center;
    margin: auto;
}

div.log-inContent > form > button{
    width: 100%;
    height: auto;
    padding: 1rem 0px;
    margin: 1rem 0 0 0;
    background-color: rgba(29,161, 242, .5);
    justify-self: center;
    align-self: center;
}

div#other-action{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 2rem;
}

div#other-action > p{
    color: rgba(29,161, 242, 1);
}

div#other-action > button{
    color: rgba(29,161, 242, 1);
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background: white;
    font-weight: normal;
    font-size: 1rem;
}

div#other-action > button:hover{
    text-decoration: underline solid rgba(29,161, 242, 1);
}
